.item-detail {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 40px;
}

.product-img {
    height: 350px;
    width: 286px;
}