#root {
  height: 100%;
  width: 100%;
  background-color: aliceblue;
  text-align: center;
  overflow: hidden;
}

.contenedorTitulo{
  color: black;
  background-color: aqua;
}

.containerImagen {
  height: 250px;
  width: 2s50px;
}

.formulario{
  background-color: rgb(113, 113, 113);
  height: 250px;
  margin: 20px 50px 20px 50px;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}